body {
    font-family: 'Courier New', monospace;
    background-color: #0e0e0e;
    color: #00ff00;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin: 20px;
    font-size: 2.5em;
}

#map {
    height: 70vh;
    width: 100%;
    border: 2px solid #00ff00;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: slideIn 0.5s forwards;
}

.overlay h2 {
    color: #00ff00;
    margin-bottom: 20px;
    font-size: 2.5em;
}

#usernameField {
    padding: 15px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #00ff00;
    font-size: 1.5em;
}

#setUsernameButton {
    padding: 10px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #00ff00;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    font-size: 1.5em;
}

#setUsernameButton:hover {
    background-color: #00ff00;
    color: #1e1e1e;
}

.user-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user {
    margin: 10px;
    padding: 10px;
    background: #1e1e1e;
    border: 2px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    color: white;
    font-size: 1.2em;
}

.user:hover {
    background: #00ff00;
    color: #1e1e1e;
    transform: scale(1.05); /* Slightly grow on hover */
}

.pulse {
    display: inline-block;
    margin-left: 5px;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    background: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#welcomeMessage {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    color: rgba(0, 255, 0, 0.8);
    opacity: 0;
    animation: fadeIn 2s forwards;
    z-index: 5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Slide in from the top */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#gpsToggle {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #00ff00;
    font-size: 1.5em;
    cursor: pointer;
    transition: background 0.3s;
}

#gpsToggle.active {
    background-color: #00ff00;
    color: #1e1e1e;
}

.new-user {
    border: 2px solid gold;
}

/* Keyframes for slideIn */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
